html body{
  background-image: url("WarehouseBackground.jpg");

}

.container-fluid{
  text-align: center;
}

.tab{
  padding-bottom: 5%;
}

h1{
  color: #6b5b95;
  text-align: center;
  font-size: large;
  font-weight: bold;
  padding-top: 2%;

}

.title{
  color: black;
  padding-top: 2%;
}

#titleHistory{
  padding-top: 3%;
    padding-bottom: 3%;
}
#state,#total{
  color: black;
  font-size: 105%;
  text-decoration: underline;
}
#history{
  width:424px;
  margin:auto;
}

tr,td,table,th{
  border-style: solid;
  border-color: grey;
}

section{
  text-align: center;
  margin: auto;
}

th{
  font-size: 110%;
}
.button{
  margin-top: 2%;
}/*
footer{
  padding-top: 1%;
}*/
